blog/pdfjs/
AGENTS.html
*.pdf
.bashrc
.inputrc
.Xauthority
index.log
templates/*.log
scripts/__pycache__/
task.md
blog/posts/*/*.html
blog/enposts/*/*.html
*.svg
homepage/blob/
text2html
CLAUDE.*
scripts/vendor/
.basher/
blog/**/serif-*.woff2
*.woff2
blog/index.html
blog/enposts/index.html
blog/links/index.html
homepage/index.html
homepage/*.woff2
